extends base.pug

block scripts 

block style 
    style 
        include ../static/style.css 
        //- include ../static/about_styles.css 


block content
    section#aboutUs
    .about-item
        h2 Our Mission
        p Welcome to our hospital! We are committed to providing accessible and quality healthcare services to our community.

    .about-item
        h2 Our Team
        p Meet our team of dedicated professionals who strive to make a positive impact on people's lives through innovative medical solutions and compassionate care.

    .about-item
        h2 Community Engagement
        p We actively engage with the local community to understand their healthcare needs and concerns, and we are dedicated to making a positive impact on community health.

    .about-item
        h2 Our Facilities
        p Our hospital has been serving the community for over two decades, and we take pride in our state-of-the-art facility equipped with the latest medical equipment and a highly skilled medical team.
