doctype html 
html    
    head 
        title Technology in hospitals
        link(rel='icon', href='../static/download.png', type='image/x-icon')
        block scripts 
        block style  
    body 
        header 
            ul
                li#title #[a(href="home.pug") Hospital Web app ]
                li#login #[a(href="login.pug") Login ]
     
        nav.nav 
            ul 
                li #[a(href="/") Home ]
                li #[a(href="/bloodAvailability") BloodAvailability ]
                li #[a(href="/nearestHospital") nearest Hospital ]
                li #[a(href="/services") services ]
                li #[a(href="/medicalConsultation") medical Consultation]
                li #[a(href="/rehabilatation") Rehabilatation]
                li #[a(href="/aboutus") About us ]
                li #[a(href="/blog") blog ]
        
        block content 
        footer
            | p&copy; 2023 Hospital Web App