extends base.pug

block scripts 

block style 
    style 
        include ../static/style.css 
        include ../static/blood_style.css 

block content 
    main
    h1 Blood Availability
    p Check the availability of blood types at our hospital:

    table
        tr
            th Blood Type
            th Available Units
        tr
            td A+
            td 10
        tr
            td B+
            td 5
        tr
            td A-
            td 15
        tr
            td B-
            td 14
        tr
            td AB+
            td 7
        tr
            td AB-
            td 8
        tr
            td O+
            td 5
        tr
            td O-
            td 15