extends base.pug

block scripts 

block style 
    style 
        include ../static/style.css 
        include ../static/home_style.css 

block content 
    main 
        section#aboutUs 
            h1 About Us
            p Welcome to Hospital Web App, where our mission is to provide accessible and quality healthcare services to our community. With a team of dedicated professionals, we strive to make a positive impact on people's lives through innovative medical solutions and compassionate care.
            h2 At Hospital Web App, we believe in
            ul
                li Putting Patients First: Our patients are at the center of everything we do. We prioritize their well-being and comfort
                li Excellence in Healthcare: Striving for excellence in medical services, from diagnosis to treatment and follow-up care
                li Community Engagement: Actively engaging with the local community to understand their healthcare needs and concerns
                li Continuous Innovation: Embracing cutting-edge medical technologies and practices to provide the best care possible
                li Empowering our Team: Fostering a supportive and collaborative environment for our healthcare professionals to thrive
                li Continuous Innovation: Embracing cutting-edge medical technologies and practices to provide the best care possible


            p Our hospital has been serving the community for over two decades, and we take pride in the positive outcomes and success stories we've been a part of. We have a state-of-the-art facility equipped with the latest medical equipment and a highly skilled medical team.

            p As a part of our commitment to community health, we regularly organize health awareness programs, free medical check-ups, and blood donation drives. We are dedicated to not only treating illnesses but also preventing them through education and proactive healthcare initiatives.

            p Thank you for choosing Hospital Web App for your healthcare needs. We look forward to continuing to serve and support our community for many years to come.
            //- img(src="https://media.gettyimages.com/id/1312706504/photo/modern-hospital-building.jpg?s=1024x1024&w=gi&k=20&c=RXpNBi29PyBzIPD7aWekJImubSm_mZuCXrYCZsRCPDQ=" alt="Hospital Image")