body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://as2.ftcdn.net/v2/jpg/06/30/07/51/1000_F_630075147_hFX9sPPOcr5OmRfSsrho5dwzYcUCnmyf.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
}

header a:hover {
    color: #ff6361;
}

nav {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

main {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    line-height: 1.6;
    font-size: 1.1em;
    color: #333;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    padding: 10px;
    background-color: rgb(47, 186, 224);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}